---
import Layout from '../layouts/Characters.astro';
import Character from '@components/Character';
import styles from '@styles/Character.module.css';
import { Image } from 'astro:assets';
import fernir from '@assets/images/fernir.png';
import ool from '@assets/images/ool.jpeg';
import xannax from '@assets/images/xannax.png';
import ithil from '@assets/images/ithil.png';
import nedsie from '@assets/images/nedsie.jpg';

const level = 3;
---

<Layout title="Characters" description="Overzicht van alle avonturiers">
    <div class={styles.cards}>
        <Character name="Fernir" klas="Barbarian" race="DragonBorn" level={level}>
            <Image src={fernir} alt="Fernir" />
        </Character>
        <Character name="Ithil" klas="Druid" race="Elf" level={level}>
            <Image src={ithil} alt="Ithil" />
        </Character>

        <Character name="Ool" klas="Monk" race="Halfling" level={level}>
            <Image src={ool} alt="Ool" />
        </Character>

        <Character name="XannaX" klas="Warlock" race="Changeling" level={level}>
            <Image src={xannax} alt="Xannax" />
        </Character>

        <Character name="Nedsie" klas="Fighter" race="Halfling" level={level}>
            <Image src={nedsie} alt="Nedsie" />
        </Character>
    </div>
</Layout>
