---
import Layout from '../layouts/NPC.astro';
import NPC from '../components/NPC';
import styles from '../styles/Character.module.css';
import klarg from '@assets/images/klarg.jpg';
import linene from '@assets/images/linene.png';
import harbin from '@assets/images/harbin.png';
import trilena from '@assets/images/trilena.png';
import gundren from '@assets/images/gundren.jpeg';
import sildar from '@assets/images/sildar.jpeg';
import dendrars from '@assets/images/dendrars.png';
import glasstaff from '@assets/images/glasstaff.png';
import droop from '@assets/images/droop.png';
import qelinne from '@assets/images/qelinne.png';
import halia from '@assets/images/halia.png';


const session1 = {
    text: 'Session 1',
    link: '/justus-league/sessions/adventure-begins',
};

const session3 = {
    text: 'Session 3',
    link: '/justus-league/sessions/welcome-to-javelin',
};

const session4 = {
    text: 'Session 4',
    link: '/justus-league/sessions/the-wanted-man',
};

const session6 = {
    text: 'Session 6',
    link: '/justus-league/sessions/surrounded',
};

const session7 = {
    text: 'Session 6',
    link: '/justus-league/sessions/victors',
};
---

<Layout title="NPC's" description="Overzicht van al onze ontmoetingen">
    <div class={styles.cards}>
        <NPC
            picture={gundren.src}
            appearsIn={session1}
            meetingPlace="Herberg in Neverwinter"
            name="Gundren Rockseeker"
        >
            Na een goede avond in de stam kroeg / herberg van de Justus league kwam
            Gundren naar de groep toe met een voorstel. Dit voorstel zetten de groep op
            hun avontuur. Over de dwerg zelf weet de groep nog niet veel.
        </NPC>
        <NPC
            picture={sildar.src}
            appearsIn={session1}
            meetingPlace="Cragmaw Cave"
            name="Sildar Hallwinter"
        >
            De groep weet enkel van Sildar dat hij op reis is met Gundren richting
            Phanadil.
            <hr />
            De groep is er achter gekomen dat Sildar gezijeld werd in de Cragmaw Cave
        </NPC>
        <NPC
            picture={klarg.src}
            appearsIn={session1}
            meetingPlace="Cragmaw Cave"
            name="Klarg"
        >
            De beruchte leider van de goblins. De goblins zijn zo bang voor hem dat ze nog
            liever dood gaan dan hem te verraden.
        </NPC>
        <NPC
            picture={linene.src}
            appearsIn={session3}
            meetingPlace="Shield Coster Trading Company"
            name="Linene Graywind"
        >
            De eigenaar van de Shield Coster Trading Company
        </NPC>
        <NPC
            picture={trilena.src}
            appearsIn={session3}
            meetingPlace="Stonehill Inn"
            name="Trilena & Toblin Stonehill"
        >
            Het stel dat eigenaar is van de Stonehill Inn
        </NPC>
        <NPC
            picture={harbin.src}
            appearsIn={session4}
            meetingPlace="Townhall"
            name="Harbin Wester"
        >
            De niet geliefde Townmaster Harbin van Phandalin
        </NPC>
        <NPC
            picture={glasstaff.src}
            appearsIn={session6}
            meetingPlace="Tresendar Manor"
            name='Iarno "Glasstaff" Albreck'
        >
            Lid van de Lord Alliance maar toch onder controle van de Black Spider
        </NPC>
        <NPC
            picture={dendrars.src}
            appearsIn={session6}
            meetingPlace="Tresendar Manor"
            name="Mirna, Nilsa, Nars Dendrar"
        >
            De ontvoerde familie uit Phandalin.
        </NPC>
        <NPC
            picture={droop.src}
            appearsIn={session6}
            meetingPlace="Tresendar Manor"
            name="Droop"
        >
            Het nieuwe trouwe hulpje van de Justus League
        </NPC>
        <NPC
            picture={qelinne.src}
            appearsIn={session7}
            meetingPlace="Stonehill Inn"
            name="Qelinne Alderleaf"
        >
            De bezorgde dorpsgenoot van de familie Dendrar
        </NPC>
        <NPC
            picture={halia.src}
            appearsIn={session7}
            meetingPlace="Stonehill Inn"
            name="Halia Thorton"
        >
            De mysterieuze leider van de Phandalin Miners Exchange
        </NPC>
    </div>
</Layout>
